@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження пошти";
}

<h1>Підтвердження пошти</h1>

<p>
    Ми надіслали лист для підтвердження акаунта на вашу електронну пошту.
    Відкрийте лист і перейдіть за посиланням, щоб активувати акаунт.
</p>

<p>
    Після підтвердження пошти ви зможете увійти в акаунт.
</p>